<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981206625144-7hauvsea260f3r0fp9qtaqqqfh92p562.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981206625144-7hauvsea260f3r0fp9qtaqqqfh92p562</string>
	<key>API_KEY</key>
	<string>AIzaSyCtGiQYRguJJ0gnS_39t9IIRpCBvip1LHI</string>
	<key>GCM_SENDER_ID</key>
	<string>981206625144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.niketanstore</string>
	<key>PROJECT_ID</key>
	<string>fir-e-e1734</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-e-e1734.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981206625144:ios:26446e74bf2d869f1f768d</string>
</dict>
</plist>